@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Playfair&family=Quicksand&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand';
    background-color: #2a1a13;
}
/*---------------------------------------------------*/
header{
    background-color: #2a1a13;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a {
    color: #fff;
    font-family: 'Playfair';
    font-size: 22px;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
    margin: 0 20px;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #926958;
    text-decoration: none;
    font-size: 25px;
}

h1 {
    color:#fff;
    font-family: 'Nothing You Could Do';
    font-size: 40px;
}

button {
    background-color: #926958;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: #926958;
}

/*---------------------------------------------------*/

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.sobre{
    background-color: #2a1a13;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.texto{
    width: 60%;
}

h2{
    font-size: 70px;
    margin-bottom: 30px;
    font-style: italic;
}

p{
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 40px;
}
.graos {
    display: flex;
    object-fit: contain;
}

.graos img{
    width: 600px;
    float: right;
}

