@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Playfair&family=Quicksand&family=Racing+Sans+One&displaydisplay=swap');

body {
    margin: 0;
    font-family: 'Quicksand';
    background-color: #2a1a13;
}
/*---------------------------------------------------*/
header{
    background-color: #2a1a13;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

a {
    color: #fff;
    font-family: 'Playfair';
    font-size: 22px;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
    margin: 0 20px;
    transition: all .2s ease-in-out;
}

a:hover {
    color: #926958;
    text-decoration: none;
    font-size: 25px;
}

h1 {
    color:#fff;
    font-family: 'Nothing You Could Do';
    font-size: 40px;
}

button {
    background-color: #926958;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: #926958;
}

/*---------------------------------------------------*/

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.pedidos{

    padding: 50px;
}

h2{
    font-family: 'Racing Sans One';
    color: white;
    text-align: center;
    font-size: 60px;
    font-style: italic;
    margin-bottom: 50px;
}

.cards{

    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;

}

.card{

    background-color: #9b6847;
    width: 220px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.card img{

    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    background-color: lightgray;
}

.card p{

    color: white;
    font-size: 25px;
}

.card button{

    background-color: #d8c0aa;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    font-family:Quicksand;
}

.sobre{
    background-color: #2a1a13;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.texto{
    width: 80%;
}

h2{
    font-size: 70px;
    margin-bottom: 30px;
    font-style: italic;
}

p{
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 40px;
}

.sobre {
    position: relative;

    &:before {
        position: absolute;
        background: url(./images/cafe333.png) no-repeat;
        background-position: top right;
        background-size: contain;
        content: '';
        width: 500px;
        height: 860px;
        top: -20px;
        right: 0;
    }
}


